#ghandi {
    position: absolute;
    display: block;
    width: 35vw;
    right: 0;
    bottom: 0;  
    border: 5px solid salmon;    

    img {
        width: 80%;
        margin-left: 5%;
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
    .background {
        padding: 5%;
        background-color: palegoldenrod;
    }
    .text {
        width: 85%;
        padding: 2% 2% 0 2%;
        background-color: paleturquoise;
        margin-bottom: 20px;
    }

    .speech-bubble {
        position: relative;
        background: #00aabb;
        border-radius: .4em;
    }
    
    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #00aabb;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }
}

